<div class="row" >
  <div class="col-sm-12">

    <div class="row" style="background-color: lightcoral;height: 50px;padding-top: 10px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">BMW</div>
      <div class="col-sm-4">
        <a routerLink="home" style="text-decoration: none;color: green;font-size: large;font-weight: bold;">Home</a>&nbsp;&nbsp;
        <a routerLink="create" style="text-decoration: none;color: green;font-size: large;font-weight: bold;">Create</a>
      </div>
      <div class="col-sm-3"></div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>


    <div class="row" style="background-color: lightcoral;height: 50px;padding-top: 10px;">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <p>Copyrights</p>
      </div>
      <div class="col-sm-3"></div>
    </div>

  </div>
</div>